services:

  app:
    build: .
    depends_on:
      - db
    ports:
      - 8080:8080
    environment:
      - DB_USER=root

  db:
    image: mysql:8.4
    ports:
      - 3306:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=faktorize